<h1>Edit Registered Application</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for apps</p>
    <ul>
      <li>Make sure app is working.</li>
      <li>Check  the spelling twice.</li>
      <li>Make sure URL is correct.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { registered_application: @registered_application } %>
  </div>
</div>
